#orders_datatable_portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_orders_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
}
#orders_data_table{
    .m-datatable__row{
        .m-datatable__cell{
            .contact-row{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .service-data{
                .heading{
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    .service-item{
                        .status-block{
                            display: inline-block;
                        }
                    }
                }
                .description{
                    .reservation-block{
                        display: block;
                        font-size: 0px;
                        
                        .reservation-number{
                            display: inline-block;
                            font-size: 1rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .description-text{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        font-size: .9rem;
                        line-height: 1.1em;
                        max-height: 3.3em;
                        
                        @media(min-width: 1300px){
                            &{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.m-popover.popover{
    table{
        tr{
            td{
                padding-right: 10px;
                
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
}
#m_modal_create_order {
    .modal-dialog{
        width: 95%;
        
        .modal-content {
            .modal-header{
                min-height: 70px;
            }
            .modal-body {
                padding-top: 12px;
                padding-bottom: 12px;

                .mCSB_container{
                    height: 100%;
                }
            }
        }
        
        @media (min-width: 576px){
            &{
                width: 80%;
                max-width: 800px;
                
                .modal-body{
                    padding: 0px 25px 25px 25px;
                }
            }
        }
    }
    #clients{
        background: transparent;
        
        .clients-block-title{
            color: #575962;
            margin-bottom: 0.8rem;
            text-align: center;
        }
        .m-demo__preview{
            background: #fff;
            border: 1px solid #ebedf2;
            border-radius: .25rem;
            padding: 0;
        }
        .m-widget4 {
            .m-widget4__item {
                .m-widget4__info{
                    .contact-name-block{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .customer-to-touris-checkbox-block{
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 1.2rem;
                        
                        .m-checkbox{
                            line-height: 1.4rem;
                            font-size: 0.9rem;
                            margin-bottom: 0;
                        }
                    }
                }
                .m-widget4__ext{
                    padding-right: 1.2rem;
                }
            }
        } 
    }
}
