.indicators-block{
    display: table-cell;
    padding-right: 1rem;
    vertical-align: middle;
    white-space: nowrap;
    cursor: default;

    .indicator{
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid #CCC;

        &.brand {background-color: #716aca;border-color: #716aca;}
        &.metal {background-color: #c4c5d6;border-color: #c4c5d6;}
        &.light {background-color: #ffffff;border-color: #ffffff;}
        &.accent {background-color: #00c5dc;border-color: #00c5dc;}
        &.focus {background-color: #9816f4;border-color: #9816f4;}
        &.primary {background-color: #5867dd;border-color: #5867dd;}
        &.success {background-color: #34bfa3;border-color: #34bfa3;}
        &.info {background-color: #36a3f7;border-color: #36a3f7;}
        &.warning {background-color: #ffb822;border-color: #ffb822;}
        &.danger {background-color: #f4516c;border-color: #f4516c;}
    }
}
#orders-detail-view{
    .contact-preview{
        margin-bottom: 0;
        
        .contact-avatar{
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px 0 0;

            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .contacts-table{
            display: block;
            margin: 0 0 1rem 0;

            tbody{
                display: block;

                tr{
                    display: block;
                    white-space: nowrap;
                }

                td.icon{
                    display: inline-block;
                    text-align: center;
                    padding: 0 5px 0 0;
                }
                td.link{
                    padding: 0 0 0 0;
                    display: inline-block;
                    max-width: calc(100% - 25px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .contacts-table.no-contacts{
            width: 100%;
            tr{
                td{
                    text-align: center;
                    padding: 0 0 7px 0;

                    .m-widget1__desc{
                        cursor: default;
                    }
                    .m-link{
                        cursor: pointer;
                    }
                }
            }
        }
        a.m-badge{
            margin: 0 0 5px 0;
        }
        a.m-badge.add-contact-button{
            outline: none;
            text-decoration: none;
            margin: 0;
        }
        span.m-widget1__desc{
            color: #9699a2;
        }
    }
}
#contact-edit-popup{
    .modal-dialog{
        @media (min-width: 992px){
            &.modal-lg {
                max-width: 930px;
            }
        }
    }
    .modal-content{
        overflow: hidden;
        
        .modal-body{
            padding: 0;
            
            .m-link{
                cursor: pointer;
            }
            .repeater-list{
                &.hide-first-one{
                    .row:nth-child(1){
                        display: none;
                    }
                }
                .intl-tel-input {
                    width: 240px;
                }
                .country-list {
                    z-index: 999;
                }
            }
            .input-group {
                flex-wrap: nowrap;
            }
        }
    }
}
h1,h2,h3,h4,h5,h6{
    color:#575962;
}

#order-product-partlet{
    margin-bottom: 0;
    
    .m-portlet__body{
        .order-product-list-block{
            .product-item{
                border-bottom: 1px solid #ebedf2;
                margin-bottom: 1.5rem;
                
                &:last-child{
                    border-bottom: 0;
                    margin-bottom: 0;
                }
                .order-product-status-dropdown{
                    &.m-dropdown--open{
                        i.open_indicator{
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                    .m-dropdown__toggle{
                        -webkit-user-select: none;
                        user-select: none;
                        font-size: 0.85rem;
                        cursor: pointer;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        -o-user-select: none;
                        
                        > span.text{
                            text-decoration: underline;
                            text-decoration-style: dotted;
                        }
                    }
                    i.open_indicator{
                        font-size: 0.8rem;
                    }
                }
                .reservation-number{
                    font-size: 0.9rem;
                }
                .row-1{
                    display: flex;
                    
                    .title{
                        flex-grow: 1;
                    }
                    .actions{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-wrap: nowrap;
                        flex-grow: 1;
                        
                        .buttons{
                            i{
                                font-size: 1.6rem;
                                cursor: pointer;
                                vertical-align: middle;
                                
                                &:hover{
                                    color: #5f57c3;
                                }
                            }
                        }
                    }
                }
                .row-3{
                    display: flex;
                    
                    .supplier{
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        
                        .logo{
                            img{
                                width: auto;
                                height: auto;
                                max-width: 45px;
                                max-height: 30px;
                            }
                        }
                        .title{
                            
                        }
                    }
                    .icons{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        
                        i{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
#order-reminders-portlet{
    #order-reminders-table{
        width: 100%;
        
        tbody{
            tr{
                td{
                    padding: 5px 3px;
                    
                    &.checkbox-cell{
                        .m-checkbox{
                            width: 19px;
                            height: 19px;
                            padding: 0;
                            margin-bottom: 0;
                            
                            > span:after{
                                margin-left: -4px;
                                margin-top: -6px;
                                width: 7px;
                                height: 12px;
                                border-width: 0 3px 3px 0!important;
                            }
                            > input:checked~span{
                                border: transparent;
                            }
                        }
                    }
                    &.reminder-date{
                        opacity: 0;
                        transition: opacity 0.2s ease-out;
                        text-align: right;
                        
                        i.la-calendar{
                            font-size: 1.6rem;
                            cursor: pointer;
                            
                            &:hover{
                                color: #716aca;
                                transition: color 0.2s ease-out;
                            }
                        }
                        i.la-close{
                            font-size: 1.6rem;
                            cursor: pointer;
                            
                            &:hover{
                                color: #f4516c;
                                transition: color 0.2s ease-out;
                            }
                        }
                    }
                    i.add-reminder-link{
                        cursor: pointer;
                    }
                    span.add-reminder-link{
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-style: dashed;
                    }
                    .new-data-set{
                        white-space: nowrap;
                        cursor: pointer;

                        span{
                            text-decoration: underline;
                            text-decoration-style: dotted;
                        }
                    }
                }
                &:hover,
                &.active{
                    td.reminder-date{
                        opacity: 1;
                    }
                }
                &.checked-row{
                    td{
                        &.reminder-text{
                            opacity: 0.6;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}
.payment-statistic-table{
    tbody{
        tr{
            td{
                padding: .5rem;
                vertical-align: middle;

                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                .status-bage{
                    white-space: nowrap;
                }
            }
            &:first-child{
                td{
                    border-top: none;
                }
            }
        }
    }
}
.order-documents-portlet{
    .order-docs-block{
        ul{
            margin-left: 0;
            padding-left: 0;
            
            li{
                list-style-type: none;
                display: flex;
                align-items: flex-start;
                margin-bottom: 5px;
                
                &:last-child{
                    margin-bottom: 0;
                }
                
                .checkbox{
                    padding: 0 7px 0 0;
                    
                    .m-checkbox{
                        margin-bottom: 16px;
                        padding-left: 18px;
                    }
                }
                .name{
                    .date{
                        line-height: 1.2rem;
                        font-size: 0.9rem;
                        color: #777777;
                    }
                }
                .actions{
                    display: flex;
                    flex-grow: 1;
                    align-self: stretch;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
        .sub-title{
            color: #777777;
        }
    }
}
.tourist-table-partlet{
    .tourists-table-v2{
        tbody{
            .uppercase-name{
                text-transform: uppercase;
            }
            .calc-age{
                white-space: nowrap;
                font-size: 0.9rem;
                
                i{
                    font-size: 1rem;
                }
            }
            .passport-serial{
                white-space: nowrap;
            }
            .passport-limit-date{
                color: #888;
                font-size: 0.9rem;
                white-space: nowrap;
            }
            .no-data{
                opacity: .5;
            }
        }
    }
}
.order-settings{
    .order-refresh-dates-block{
        table{
            width: 100%;

            tr{
                td{
                    text-align: left;

                    &:nth-child(2){
                        text-align: right;
                    }
                }
            }
        }
    }
    .order-delete-block{
        button[type="submit"]{
            width: 100%;

            > span {
                margin: 0 auto;
            }
        }
    }
    .order-link-cell{
        white-space: nowrap;
        
        i{
            cursor: pointer;
            margin: 0 0 0 5px;
            
            &:hover{
                transform: scale(1.2);
                color: #f4516c;
                transition: all 0.2s ease-out;
            }
        }
    }
}
#document_view_modal, #document_upload_view_modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                .modal-title{
                    width: 100%;
                    
                    .doc_title_input{
                        border-color: transparent;
                        background-color: transparent;
                        font-size: 1.2rem;

                        &:focus{
                            border-color: #ebedf2;
                            background-color: #fff;
                        }
                    }
                }
            }
            .modal-body{
                #head-panel{
                    .panel-main-row{
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
        @media (min-width: 576px){
            & {
                width: 90%;
                max-width: 825px;
            }
        }
        @media (min-width: 992px){
            & {
                width: 90%;
                max-width: 1100px;
            }
        }
    }
}
#m_modal_add_payment{
    #add_payment_form{
        .payment-progress-row{
            .payment-progress-item{
                position: relative;
                background: #E9ECEF;
                border-radius: .25rem;
                
                .progress-bar{
                    position: absolute;
                    height: 100%;
                    border-top-left-radius: .25rem;
                    border-bottom-left-radius: .25rem;
                    background: #61baff;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
                .content{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: center;
                    padding: 0.6rem 1rem;
                    position: relative;
                    z-index: 2;
                    
                    .left{
                        .summ-native{
                            > span{
                                font-size: 1.2rem;
                                font-weight: 500;
                                white-space: nowrap;
                                color: #106aaf;
                            }
                        }
                        .summ-exchanged{
                            > span{
                                color: #106aaf;
                                font-weight: 400;
                                white-space: nowrap;
                            }
                        }
                    }
                    .right{
                        .full-summ-exchanged{
                            display: table;
                            height: 100%;
                            
                            > span{
                                display: table-cell;
                                vertical-align: middle;
                                font-size: 1.7rem;
                                font-weight: 500;
                                color: #848484;
                                white-space: nowrap;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

#document_add_modal{
    .documents-set{
        text-align: center;

        .document-link{
            .icon-wraper{
                display: flex;
                height: 45px;
                margin: 0 0 6px 0;
                justify-content: center;
                align-items: center;

                i{
                    font-size: 2.3rem;
                }
            }
            span{
                font-size: 1.2rem;
                line-height: 1.2em;
                display: block;
            }
        }
    }

}
#m_modal_service_details{
    .additional-service-item{
        display: flex;
        justify-content: center;
        
        .checkbox-block{
            display: flex;
            align-items: center;
        }
        .info-block{
            display: flex;
            flex-wrap: wrap;
            
            .icon-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                display: flex;
                height: 45px;
                margin: 0 0 6px 0;
                justify-content: center;
                align-items: center;
                
                i{
                   font-size: 2.3rem;
                   color: #716aca;
                   font-weight: 400; 
                }
            }
            .text-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                text-align: center;
                
                span{
                    font-size: 1.2rem;
                    display: block;
                    color: #716aca;
                }
            }
        }
    }
    .one-line-label{
        display: block;
        
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        
        label.one-line{
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-height: 1.2em;
            max-height: 1.2em;
        }
    }
}
#service-tourists-portlet{
    #service-tourists-details{
        .tourist-item{
            .tourist-item-text{
                
                span.name{
                    font-size: 1.3rem;
                    line-height: 1.3rem;
                    border-bottom: 1px dashed #716aca;
                }
                i.fa-check{
                    font-size: 1.3rem;
                }
                i.fa-close{
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
        }
        #add_new_contact_button{
            cursor: pointer;
        }
    }
}
#m_modal_edit_tourist_passports{
    z-index: 1051;
    
    #tourist_passport_form{
        .m-checkbox {
            padding-left: 27px;
            margin-bottom: 25px;
        }

        .m-checkbox>span, .m-radio>span {
            height: 25px;
            width: 26px;
        }
    }
}
#m_modal_create_order_reservation{
    .modal-dialog{
        @media (min-width: 576px){
            & {
                width: 100%!important;
                max-width: calc(100% - 30px)!important;
            }
        }
    }
    .iframe-block{
        .iframe-wrap{
            overflow: hidden;
            border-radius: 3px;
            border: 1px solid #d6d6d6;
            box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
            
            iframe{
                display: block;
                width: 100%;
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
    }
    .reservation-data-block{
        .credential-block{
            .credential-label{
                color: #575962;
                font-weight: 500;
                font-size: 1.1rem;
            }
            .copy-icon{
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }
    .tourists-table-v2{
        tbody{
            .uppercase-name{
                text-transform: uppercase;
            }
            .calc-age{
                white-space: nowrap;
                font-size: 0.9rem;
                
                i{
                    font-size: 1rem;
                }
            }
            .passport-serial{
                white-space: nowrap;
            }
            .passport-limit-date{
                color: #888;
                font-size: 0.9rem;
                white-space: nowrap;
            }
            .no-data{
                opacity: .5;
            }
        }
    }
}