#api_index_portlet{
    .m-portlet__body{
        hr.customized{
            border-top: 1px dashed #ebedf2;
        }
        #keygen_start{
            height: 40px;
        }
        #keygen_preloader{
            .m-loader{
                display: none;
                height: 40px;
            }
        }
    }
}