#m_modal_template_edit{
    padding-right: 0!important;
    padding-left: 0!important;
    
    .template_title_input{
        //border-color: transparent;
        //background-color: transparent;
        font-weight: 400;
        font-size: 1.2rem;
        transition: margin-left 0.3s ease;
        padding-left: 0.5rem;
        //margin-left: -1rem;

        &:focus{
            margin-left: 0;
            border-color: #ebedf2;
            background-color: #fff;
        }
    }
    
    @media(min-width: 576px){
        &{
            padding-right: 15px!important;
            padding-left: 15px!important;
            
            .modal-dialog{
                max-width: 1450px;
            }
        }
    }
}
#templates_documents_datatable{
    .system-status-icon{
        vertical-align: middle;
        color: #716aca;
        font-size: 1.3rem;
    }
    .name-link{
        vertical-align: middle;
    }
}