#deliveries_email_stats_portlet{
    .provider-stats-table{
        width: 100%;
    }
    .delivery-sms_statistic_wrap{
        .m-subheader{
            padding: 0;

            .d-flex{
                justify-content: flex-end;

                .m-subheader__daterange{
                    background: #f2f3f8;
                    white-space: nowrap;
                }
            }
        }
    }
    .m-widget1{
        .m-widget1__item{
            .m-widget1__desc{
                line-height: 1rem;
            }
        }
    }
}
.email-body-change-block{
    .link-wrap{
        display: block;
        height: 100%;
        outline: none;
        
        .m-portlet{
            height: 100%;
            
            .m-portlet__head{
                padding: 1rem 1.5rem;
                height: auto;
                background: #f2f3f8;
                transition: background 0.3s ease-in;

                .m-portlet__head-caption{
                    margin: 0;
                    flex-grow: 1;

                    .m-portlet__head-title{
                        width: 100%;
                        
                        >h3{
                            transition: color 0.3s ease-out;
                        }
                    }
                }
            }
            .m-portlet__body{
                padding: 1.5rem;

                .image{
                    display: flex;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    
                    i{
                        max-height: 40px;
                        font-size: 3rem;
                        transition: color 0.2s ease-out;
                    }
                }
                .decor-line{
                    width: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 2px;
                    background: #575962;
                    transition: width 0.2s ease, background 0.2s ease-in;
                }
            }
        }
        &:hover{
            text-decoration: none;
            cursor: pointer;
            
            .m-portlet{
                .m-portlet__head{
                    background: #34bfa3;
                    
                    .m-portlet__head-caption{
                        .m-portlet__head-title{
                            >h3{
                                color: #FFF;
                            }
                        }
                    }
                }
                .m-portlet__body{
                    .image{
                        i{
                            color: #34bfa3;
                        }
                    }
                    .decor-line{
                        background: #34bfa3;
                        width: 100%;
                    }
                }
            }
        }
    }
}
#m_modal_email_body_templates{
    .modal-dialog{
        @media (min-width: 576px){
            & {
                max-width: 900px;
            }
        }
    }
    .m-portlet{
        border-radius: 4px;
        
        .m-portlet__head{
            .m-portlet__head-caption{
                margin: 0 30px 0 0;
            }
        }
    }
    #m_modal_email_body_templates_tab_1{
        #my_templates_select_block{
            ul{
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;
            }
        }
        #my_templates_editor_block{
            
        }
    }
}
#m_modal_email_body_raw_html{
    .modal-dialog{
        @media (min-width: 576px){
            & {
                max-width: 900px;
            }
        }
    }
}