#delivery_email_datatable_portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_dess_email_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
    #dess_email_data_table{
        .m-card-user{
            display: inline-table;
            
            .m-card-user__pic{
                padding-right: 0;
            }
        }
        .status-hint-icon{
            font-size: 1rem;
        }
    }
}