#email_delivery_stats_portlet{
    .recipients_count_block{
        .count-block{
            font-size: 1.3rem;
        }
        .word-block{
            font-size: 1.3rem;
        }
    }
    .stats-squares{
        .stat-item{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 120px;
            border-top: 1px solid #ebedf2;
            border-right: 1px solid #ebedf2;
            border-bottom: 0;
            border-left: 1px solid #ebedf2;
            
            .number{
                font-size: 1.5rem;
            }
            .text{
                font-size: 1.2rem;
            }
            
            &:last-child{
                border-bottom: 1px solid #ebedf2;
            }
            
            @media (min-width: 576px){
                &{
                    border-right: 0;
                    border-bottom: 1px solid #ebedf2;
                }
                &:last-child{
                    border-right: 1px solid #ebedf2;
                }
            }
        }
    }
    #email-delivery-additional-rows{
        .additional-row{
            display: flex;
            flex-wrap: nowrap;
            
            .label{
                flex-grow: 0;
                font-weight: 400;
            }
            .underline{
                flex-grow: 1;
                border-bottom: 1px dashed #CCC;
            }
            .value{
                flex-grow: 0;
                font-weight: 400;
            }
        }
    }
    #chartline-block{
        .chartline-title{
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
    #top-links{
        .top-links-title{
            font-size: 1.3rem;
            font-weight: 500;
        }
        .link-item{
            line-height: 2rem;

            .link-text-block{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .m-link:hover:after{
                border-bottom: 0;
            }
            .underline{
                display: block;
                width: 100%;
                height: 1px;
                margin: 0 15px;
                background: #eaeaea;
            }
        }
    }
    #top-subscribers{
        .top-subscribers-title{
            font-size: 1.3rem;
            font-weight: 500;
        }
        .subscribers-item{
            line-height: 2rem;
            
            .m-link:hover:after{
                border-bottom: 0;
            }
            .underline{
                display: block;
                width: 100%;
                height: 1px;
                margin: 0 15px;
                background: #eaeaea;
            }
        }
    }
    #locations-map{
        .locations-map-title{
            font-size: 1.3rem;
            font-weight: 500;
        }
        .location-item{
            .iti-flag{
                display: inline-block;
            }
            .country{
                font-size: 1.1rem;
                font-weight: 500;
            }
            .underline{
                display: block;
                width: 100%;
                height: 1px;
                margin: 0 15px;
                background: #eaeaea;
            }
        }
    }
    #receivers_datatable_block{
        .receivers-table-title{
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}
