.m-login.m-login--5 {
    .m-login__wrapper-2 {
        .m-login__contanier {
            .m-login__form {
                margin-top: 2rem;
            }
        }
    }
}

.m-login.m-login--5 {
    .m-login__wrapper-2 {
        .m-login__contanier {
            .m-login__signup {
                .m-login__form {
                    .m-login__form-action {
                        margin: 1rem 0 1rem 0;
                    }
                }
            }
        }
    }
}

.alert-dismissible {
    padding-right: 4rem;
}

.m-checkbox .form-control-feedback {
    color: #f4516c;
}

//.m-login.m-login--5 {
//    .m-login__wrapper-2 {
//        .m-login__contanier {
//            .m-login__signup {
//                .m-login__form {
//                    .m-login__form-sub {
//                        margin-top: 1rem;
//                    }
//                }
//            }
//        }
//    }
//}