#handbooks_nav_portlet{
    .m-portlet__body{
        .m-nav{
            .m-nav__section{
                .m-nav__section-text{
                    text-transform: uppercase;
                }
            }
            .m-nav__item{
                &:hover:not(.m-nav__item--disabled),
                &.m-nav__item--active{
                    > .m-nav__link{
                        i{
                            color: #716aca;
                        }
                    }
                }
                .m-nav__link{
                    i{
                        display: table-cell;
                        height: 100%;
                        vertical-align: middle;
                        text-align: left;
                        width: 35px;
                        font-size: 1.4rem;
                        line-height: 0;
                        color: #c1bfd0;
                    }
                }
            }
        }
    }
}
#handbooks_data_portlet{
    .m-portlet__body{
        .handbook-item:not(.default){
            display: none;
        }
        .m_datatable{
            .system-status-icon{
                vertical-align: middle;
                font-size: 1.3rem;
            }
        }
    }
}
.modal{
    .modal-body{
        > .preloader{
            .m-loader{
                height: 30px;
            }
        }
        > form {
            display: none;
        }
        .form-group.select2-mod{
            // Regroup items order with flex order,
            // for correct jq validate errors display
            display: flex;
            flex-direction: column;
            
            .form-control-feedback{
                order: 999; // move to the end
            }
            .dropdown.bootstrap-select{
                display: flex;
                flex-direction: column;
                
                .form-control-feedback{
                    order: 999; // move to the end
                    line-height: 1.5;
                }
            }
        }
    }
}