#tasks_datatable_portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_task_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
    .m-portlet__body{
        .task-index-portlet-content{
            display: none;
            
            &.active{
                display: block;
            }
        }
    }
}
#tasks_calendar_filters{
    .fc-event{
        .fc-content:before{
            display: none;
        }
    }
}
#tasks_reminders_calendar{
    .fc-event{
        .fc-content{
            padding: .55rem;
            
            &:before{
                display: none;
            }
            
            i{
                vertical-align: bottom;
            }
        }
        &.m-fc-event--success{color: #34BFA3;}
        &.m-fc-event--warning{color: #FFB822;}
        &.m-fc-event--danger{color: #F4516C;}
        &.m-fc-event--info{color: #36A3F7;}
        &.m-fc-event--primary{color: #5867DD;}
        &.m-fc-event--secondary{color: #EAEAEA;}
        &.m-fc-event--brand{color: #716ACA;}
        &.m-fc-event--accent{color: #00C5DC;}
        &.m-fc-event--focus{color: #9816F4;}
        &.m-fc-event--metal{color: #C4C5D6;}
        &.m-fc-event--light{color: #FFFFFF;}
    }
}
#task_data_table{
    .task_name{
        white-space: nowrap;
        
        .task_name__icon{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 0 .25rem 0 0;
            text-align: center;
            border-radius: 50%;
            background: rgb(245, 248, 250);
            border: 1px solid rgb(203, 214, 226);
            cursor: pointer;
            
            i{
                font-size: 15px;
                vertical-align: middle;
                color: #CBD6E2;
            }
        }
        .task_name__link{
            display: inline-block;
        }
        
        &.completed{
            .task_name__icon{
                background: rgb(0, 189, 165);
                border: 1px solid rgb(0, 189, 165);
                vertical-align: middle;

                i{
                    color: #FFF;
                }
            }
            .task_name__link{
                vertical-align: middle;
                
                a{
                    text-decoration: line-through;
                    white-space: normal;
                    
                    &:hover{
                        text-decoration: line-through !important;
                    }
                }
            }
        }
    }
}
#edit-task-popup{
    .modal-body{
        padding: 15px 16px 15px 18px;
    }
}