#dashboard_sortable_portlets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
    .m-portlet{
        max-width: 100%!important;
        min-width: calc(50% - 15px)!important;
        
        &:hover{
            .resizeble-icon{
                opacity: 1;
                transition: opacity 0.4s ease-in;
            }
        }
        &.full-mode{
            width: 100%;
        }
        &.half-mode{
            width: calc(50% - 15px);
        }
        &.ui-sortable-helper{
            max-width: inherit!important;
            min-width: inherit!important;
        }
        &.ui-sortable-helper{
            -webkit-box-shadow: 0px 1px 15px 1px rgba(12, 144, 208, 0.4);
            box-shadow: 0px 1px 15px 1px rgba(12, 144, 208, 0.4);
        }
        .resizeble-icon{
            position: absolute;
            opacity: 0;
            right: 0;
            bottom: 0;
            font-size: 2rem;
            transform: rotate(-45deg);
            height: 21px;
            width: 19px;
            color: #d0d0d0;
        }
        .ui-resizable-handle{
            width: 20px;
        }
    }
    .portlet-placeholder {
        width: 100%;
        border: 1px dashed #a8aab7;
        height: 5.1rem;
        margin: 0 0 2rem 0;
        border-radius: 5px;
    }
}
