#create_user_popup {
.m-demo {
        background: #f7f7fa;
        border-radius: 0.3rem;
        margin-bottom: 15px;

    .m-demo__preview {
        background: white;
        border: 2px solid #f7f7fa;
        padding: 3px 20px;
        border-radius: 0.3rem;
    }
}

    .m-widget4 {
        .m-widget4__item {
            .m-widget4__img.m-widget4__img--pic img {
                width: 5rem;
                border-radius: 50%;
            }
        }
    }
}

#create_user_popup_submit:disabled {
    cursor: not-allowed;
}