$textColor: #aaa;
#m_modal_service_details {
  .modal-header {
    &__close-button {
      margin-top: -0.7px;
    }
  }

  .row:nth-child(even) {
    margin-bottom: 30px;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  .m-portlet {

    &__head-text {
      font-size: 1rem;
      font-weight: 400;
    }

    &__body {
      display: flex;
    }
  }

  .m-input {

    &__title {
      font-weight: 400;
      font-size: .9rem;
    }
  }

  .noPadding {
    padding: 0 5px;
  }

  .income-money {

    &__icon {
      font-size: 5rem;
    }

    &__text {
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: .9rem;
    }

    &__text + p {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .modal-footer {
    justify-content: space-between;
  }
}