#billing-rates-table{
    .m-pricing-table-4__top{
        background-color: #0c90d0;
        
        .m-pricing-table-4__top-body{
            .m-pricing-table-4__top-items{
                -webkit-box-shadow: 0 -1.3rem 1.07rem 0.71rem #0a8bca;
                box-shadow: 0 -1.3rem 1.07rem 0.71rem #0a8bca;
                    
                .m-pricing-table-4__top-item{
                    .m-pricing-table-4__label{
                        font-size: 1.3rem;
                        vertical-align: 55%;
                    }
                    .m-pricing-table-4__btn{
                        .btn-success{
                            &:hover{
                                background-color: #34bfa3;
                                border-color: #34bfa3;
                                cursor: default;
                            }
                        }
                    }
                    .m-pricing-table-4__top-btn{
                        .btn-success{
                            &:hover{
                                background-color: #34bfa3;
                                border-color: #34bfa3;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}