.delivery-sms_statistic_wrap{
    .m-subheader{
        padding: 0;
        
        .d-flex{
            justify-content: flex-end;
            
            .m-subheader__daterange{
                background: #f2f3f8;
                white-space: nowrap;
            }
        }
    }
}
#deliveries_sms_stats_portlet{
    .provider-description{
        .provider-stats-table{
            tbody{
                tr{
                    td{
                        padding: 2px 5px 2px 5px;
                        
                        &:last-child{
                            padding: 2px 0 2px 5px;
                            font-weight: 400;
                        }
                        &:first-child{
                            padding: 2px 5px 2px 0;
                        }
                    }
                }
            }
        }
    }
    .m-widget1{
        .m-widget1__item{
            .m-widget1__desc{
                line-height: 1rem;
            }
        }
    }
}
#sms-counter{
    color: #575962;
    font-size: 1rem;
    font-weight: 400;
    cursor: default;
    
    .sms-info-item{
        display: inline-block;
    }
    
    i{
        vertical-align: text-bottom;
    }
}