#sms_delivery_stats_portlet{
    .recipients_count_block{
        .count-block{
            font-size: 1.3rem;
        }
        .word-block{
            font-size: 1.3rem;
        }
    }
    .stats-squares{
        .stat-item{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 120px;
            border-top: 1px solid #ebedf2;
            border-right: 1px solid #ebedf2;
            border-bottom: 0;
            border-left: 1px solid #ebedf2;
            
            .number{
                font-size: 1.5rem;
            }
            .text{
                font-size: 1.2rem;
            }
            
            &:last-child{
                border-bottom: 1px solid #ebedf2;
            }
            
            @media (min-width: 576px){
                &{
                    border-right: 0;
                    border-bottom: 1px solid #ebedf2;
                }
                &:last-child{
                    border-right: 1px solid #ebedf2;
                }
            }
        }
    }
}
