.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    color: #555555;
}

.kv-grid-container .table {
    margin-bottom: 0;
}

#settings_email table td div.form-group {
    padding-bottom: 0;
    margin-bottom: 0;
}