body{
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Editable modal title */
$et_text_font_size: 1.3rem;
$et_text_line_height: 1.25;
.editable-title{
    > span{
        display: inline-block;
        font-size: $et_text_font_size;
        line-height: $et_text_line_height;
        padding: .85rem 0;
        border: 1px solid transparent;
        cursor: pointer;
    }
    > i{
        font-size: $et_text_font_size;
    }
    > input{
        display: none;
        width: calc(100% + 1.15rem);
        padding: .85rem 1.15rem;
        margin-left: -1.15rem;
        font-size: $et_text_font_size;
        line-height: $et_text_line_height;
    }
}