.no-padding{
    padding-bottom: 0!important;
    padding-top: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.no-padding-bottom{
    padding-bottom: 0!important;
}
.no-padding-top{
    padding-top: 0!important;
}
.no-padding-left{
    padding-left: 0!important;
}
.no-padding-right{
    padding-right: 0!important;
}
body.no-overflow{
    padding-right: 15px!important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}