header.m-header{
    
    /* Header WITHOUT search panel */
    #m_header_nav{
        .flex-inner{
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            
            #m_header_topbar{
                ul.m-topbar__nav{
                    white-space: nowrap;
                }
                .notivications-dropdown{
                    #notifications-list{
                        .m-list-timeline__item{
                            a:hover{
                                color: #7f34b7;
                            }
                            .read_marker{
                                width: 8px;
                                height: 8px;
                                border: 2px solid #CCC;
                                background: #CCC;
                                border-radius: 50%;
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                cursor: pointer;
                                
                                &:hover{
                                    border: 2px solid #9e9e9e;
                                    background: transparent;
                                }
                            }
                            .m-list-timeline__text{
                                .notification-content{
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    white-space: normal;
                                }
                            }
                            .m-list-timeline__time{
                                padding: 15px 0 0 0;
                            }
                            &.m-list-timeline__item--read{
                                .read_marker{
                                    background: transparent;
                                    
                                    &:hover{
                                        background: #9e9e9e;
                                    }
                                }
                            }
                        }
                    }
                    #load-more-spinner{
                        height: 30px;
                        text-align: center;
                        
                        .m-loader{
                            width: 30px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    
    /* Header WITH search panel */
    #m_header_nav.has_search_panel{
        
        .flex-inner{
            #search-panel{
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 0 15px;
                
                >form{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    .input_block{
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 0 .5rem;
                        border-left: 1px solid #d0d0d0;
                        border-right: 1px solid #d0d0d0;
                        
                        .input_block__filters_indicator{
                            display: none;
                            flex-grow: 0;
                            padding: 0 .5rem;
                            
                            &.show{
                                display: flex;
                            }
                            
                            .m-badge{
                                white-space: nowrap;
                            }
                        }
                        .input_block__input_body{
                            flex-basis: 100%;
                            height: 100%;
                            flex-grow: 1;

                            #quick-search-input{
                                height: 100%;
                                border: transparent;
                                border-radius: 0;
                                padding: 0 .5rem;
                                font-size: 1.1rem;

                            }
                        }
                        .input_block__summary{
                            padding: 0 .5rem;
                            display: none;
                            
                            span{
                                white-space: nowrap;
                                color: #9699a2;
                            }
                        }
                        .input_block__reset{
                            padding: 0 .25rem 0 .5rem;
                            display: none;
                            
                            i{
                                color: #716aca;
                                font-size: 1.3rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
                #search-dropdown{
                    display: none;
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;

                    &.open{
                        display: block;
                    }

                    .modal-content{
                        max-height: calc(100vh - 70px - 60px - 100px);
                        border-radius: 0;
                        border-top: 1px solid #d0d0d0;
                        border-bottom: 1px solid #d0d0d0;

                        border-left: 0;
                        border-right: 0;

                        .modal-body{
                            padding: 0 1rem;
                            
                            .filters-left{
                                border-right: 1px solid #e8eaeb;
                                
                                .filters-search{
                                    padding: 0 0 1rem 0;
                                    
                                    .filter-item{
                                        border-bottom: 1px solid #e8eaeb;
                                        padding: 10px 3px 10px 0;

                                        &:last-child{
                                            border: none;
                                        }
                                        
                                        &:first-child{
                                            border-bottom: 1px solid #e8eaeb;
                                        }
                                        
                                        .m-link{
                                            color: inherit;
                                            
                                            &.active{
                                                color: #384AD7;
                                                font-weight: 500;
                                            }
                                            &:hover{
                                                color: #384AD7;
                                                
                                                &:after{
                                                    display: none
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .filters-right{
                                background-color: #fbfbfb;

                                .filters-right-search{
                                    padding-top: 15px;
                                    padding-bottom: 15px;

                                    .m-accordion{
                                        .m-accordion__item{
                                            margin-bottom: 0;
                                            border-radius: 0;
                                            border-top: none;
                                            border-right: none;
                                            border-bottom: none;
                                            border-left: none;
                                            background-color: transparent;

                                            &:last-child{
                                                .m-accordion__item-head{
                                                    border-bottom: none;
                                                }
                                            }
                                            .m-accordion__item-content{
                                                padding: 1.5rem 1rem;
                                                
                                                .form-group:last-child{
                                                    margin-bottom: 0;
                                                }
                                            }
                                            .m-accordion__item-head{
                                                background-color: transparent;
                                                border-bottom: 1px solid #e8eaeb;

                                                .m-accordion__item-title{
                                                    font-size: 1rem;
                                                }
                                            }
                                            .m-accordion__item-body{
                                                border-top: none;
                                            }
                                            input{
                                                background: #FFF;
                                            }
                                            .select2{
                                                display: block;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                                .tag-right-search{
                                    padding-top: 15px;
                                    padding-bottom: 15px;

                                    >.title{
                                        padding: 1rem 2rem;
                                        line-height: 27px;
                                        
                                        a.btn{
                                            padding: 0.3rem 0.55rem;
                                            font-size: 0.7rem;
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                        .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
                            right: 0;
                        }
                    }
                    #control-buttons{
                        background: #fbfbfb;
                        border-bottom: 1px solid #c2c2c6;
                        padding: 10px 15px;
                        
                        .buttons-col{
                            .btn{
                                margin: 0 7px 0 0;
                                
                                &:last-child{
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .mCustomScrollBox{
                        .mCSB_container{
                            //overflow: visible;
                        }
                    }
                }
            }
            #m_header_topbar{
                >.m-stack__item{
                    >ul.m-topbar__nav{
                        margin: 0 20px 0 0px;
                    }
                }
            }
            
            @media (max-width: 992px){
                &{
                    #m_header_topbar{
                        width: auto!important;
                        display: block;
                        box-shadow: none;
                        
                        >.m-stack__item{
                            display: block;
                            
                            >ul.m-topbar__nav{
                                display: flex;
                                flex-wrap: nowrap;
                                margin: 0;
                                padding: 0 5px;
                                
                                >li.m-nav__item{
                                    padding: 0 7px;
                                }
                            }
                        }
                    }
                    #search-panel{
                        box-shadow: none;
                        position: static;
                        padding: 0 5px 0 20px;
                    }
                }
            }
        }
    }
    .tenants_dropdown_table{
        .m-nav-grid{
            > .m-nav-grid__row{
                > .m-nav-grid__item{
                    vertical-align: top;
                    
                    .account-id-info{
                        color: #b1b1b1;
                        cursor: default;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
