/*
    1. SWAL ALERTS
    2. PORTLET
    3. HISTORY TIMELINE
    4. ONE COLUMN TIMELINE
    5. CUSTOM TOGGLE OPENER
    6. PORTLET - FULLSCREEN Z-INDEX
*/

/***** 1. SWAL ALERTS *****/
// Set body height n 100%, when swal message is displaying
body, html{
    &.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
        height: 100%!important;
    }
}

/***** 2. PORTLET *****/

.m-portlet{
    .m-portlet__head{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        
        .m-portlet__head-caption{
            margin: 0 1rem 0 0;
            flex-grow: 0;
        }
    }
}
@media(max-width: 768px){
    .m-portlet{
        .m-portlet__head{
            flex-wrap: wrap;
            padding: 1rem;
            height: auto;
            
            >*{
                margin: 0 0 1rem 0;
                
                &:last-child{
                    margin: 0;
                }
            }
            .m-portlet__head-caption{
                margin: 0 0 1rem 0;
            }
        }
    }
}

/***** 3. HISTORY TIMELINE *****/
// History timeline fix
.m-timeline-2.customized{
    &:before{
        left: 130px;
        transform: translateX(-50%)
    }

    .m-timeline-2__items{
        .m-timeline-2__item {
            width: 100%;

            .m-timeline-2__item-time {
                position: static;
                width: 115px;
            }
            .m-timeline-2__item-text{
                padding-left: 40px;
            }
            .m-timeline-2__item-cricle{
                position: absolute;
                width: 2rem;
                height: 2rem;
                left: 130px;
                transform: translateX(-50%);
                background: #FFF;
                border: none;

                > i{
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    height: 27px;
                    width: 16px;
                }
            }
        }
    }
}

/***** 4. ONE COLUMN TIMELINE *****/
.m-timeline-1.ita-custom{
    width:96%!important;
    
    &:after{
        left: .357rem!important;
        bottom: 0!important;
    }

    .m-timeline-1__items {
        margin-bottom: 2rem!important;
        /*padding: 0 0 2rem 0!important;*/
        
        .m-timeline-1__marker {
            left: 0!important;
            transform: translate(-18%,0)!important;
        }
        .m-timeline-1__item {
            width: 100%!important;
            top: 0!important;
            margin-top: 5rem!important;

            &.m-timeline-1__item--left {
                padding-left: 2.86rem!important;
                padding-right: 0!important;
                
                .m-timeline-1__item-circle {
                    left: -.5rem!important;
                    transform: translate(15%,0)!important;
                    top: 1.65rem!important;
                    border-width: 2px;
                }

                .m-timeline-1__item-arrow {
                    position: absolute!important;
                    line-height: 0!important;
                    display: inline-block!important;
                    overflow: hidden!important;
                    width: 10px!important;
                    height: 40px!important;
                    position: relative!important;
                    left: 0!important;
                    margin-left: -9px!important;
                    left: 2.93rem!important;
                    position: absolute!important;
                    top: .86rem!important;
                    transform: translate(-2%,0)!important;

                    &:before {
                        display: inline-block!important;
                        font-family: Metronic!important;
                        font-style: normal!important;
                        font-weight: 400!important;
                        font-variant: normal!important;
                        line-height: 0!important;
                        text-decoration: inherit!important;
                        text-rendering: optimizeLegibility!important;
                        text-transform: none!important;
                        -moz-osx-font-smoothing: grayscale!important;
                        -webkit-font-smoothing: antialiased!important;
                        font-smoothing: antialiased!important;
                        content: ""!important;
                        position: relative!important;
                        top: 0!important;
                        margin-top: 20px!important;
                        font-size: 40px!important;
                    }
                }
                .m-timeline-1__item-time {
                    right: 100%!important;
                    left: 3.57rem!important;
                }
            }
            &.m-timeline-1__item--right{
                left: 0!important;
                padding-left: 2.86rem!important;
                padding-right: 0!important;

                .m-timeline-1__item-circle {
                    left: -.5rem!important;
                    top: 1.65rem!important;
                    transform: translate(13%,0)!important;
                    width: 2rem;
                    height: 2rem;
                    border-width: 2px!important;
                    left: -.8rem!important;
                    top: 1.35rem!important;
                    
                    i{
                        font-size: 1.4rem;
                    }
                }
                .m-timeline-1__item-arrow {
                    position: absolute!important;
                    left: 2.92rem!important;
                    top: .86rem!important;
                    transform: translate(-1%,0)!important;
                }
                .m-timeline-1__item-time {
                    left: 3.93rem!important;
                }
            }
            &.m-timeline-1__item--first {
                top: 4rem!important;
                margin-top: 0!important;
            }
            &.m-timeline-1__item--first+.m-timeline-1__item--right {
                margin-top: 8rem!important;
            }

            .m-timeline-1__item-time {
                position: absolute!important;
                display: inline-block!important;
                margin-top: -2.14rem!important;
                font-weight: 400!important;
            }
        }
    }
}

/***** 5. CUSTOM TOGGLE OPENER *****/
[data-opener="true"]{
    > *{
        vertical-align: middle;
    }
    i {
        margin-right: 6px;
    }
}

/***** 6. PORTLET - FULLSCREEN Z-INDEX *****/
.m-portlet.m-portlet--fullscreen{
    z-index: 2;
}