/*
    1. MODAL AS LEFT/RIGHT SIDEBAR
    2. CREATE COMPANY
    3. CREATE CONTACT
    4. CREATE REQUEST
    5. HEADER REQUEST
    6. HEADER REQUEST SERVICE EDIT
    7. SELECT SERVICE
    8. SELECT COMMERTIAL PROPOSAL METHOD
    9. CREATE CP VIA SMS
    10. CREATE CP VIA EMAIL
    11. CREATE CP VIA LINK
    12. CREATE NEW HOTEL MODAL
    13. CREATE NEW CITY MODAL
*/

/*** 1. MODAL AS LEFT/RIGHT SIDEBAR ***/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

@media (max-width: 500px) {
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: relative;
        width: auto;
    }

    .modal.right {
        padding-right: 0 !important;
    }
}

.modal.left .modal-content,
.modal.right .modal-content {
    border-radius: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 16px 0 18px;
}

.modal.left .modal-content .modal-header,
.modal.right .modal-content .modal-header {
    padding: 25px 16px 25px 18px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal-content {
    border-radius: 0;
    border: none;

    .m-scrollable {
        max-height: 78vh;
        height: 78vh;
    }
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/*** 2. CREATE COMPANY ***/
#m_modal_create_company.modal {
    .modal-content {
        .modal-body {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}
#m_modal_create_company {
    .m-demo {
        background: #f7f7fa;
        border-radius: 0.3rem;
        margin-bottom: 15px;

        .m-demo__preview {
            background: white;
            border: 2px solid #f7f7fa;
            padding: 3px 20px;
            border-radius: 0.3rem;
        }
    }

    .notification_block {
        text-align: center;
        margin: 18px 24px;
    }

    .m-widget4 {
        .m-widget4__item {
            .m-widget4__img.m-widget4__img--pic img {
                width: 5rem;
                border-radius: 50%;
            }
        }
    }
}
#create_company_submit:disabled {
    cursor: not-allowed;
}

/*** 3. CREATE CONTACT ***/
#m_modal_create_contact {
    z-index: 1051;
    
    .m-demo {
        background: #f7f7fa;
        border-radius: 0.3rem;
        margin-bottom: 15px;

        .m-demo__preview {
            background: white;
            border: 2px solid #f7f7fa;
            padding: 3px 20px;
            border-radius: 0.3rem;
        }
    }

    .notification_block {
        text-align: center;
        margin: 18px 24px;
    }

    .m-widget4 {
        .m-widget4__item {
            .m-widget4__img.m-widget4__img--pic img {
                width: 5rem;
                border-radius: 50%;
            }
        }
    }
}

#m_modal_create_contact.modal {
    .modal-content {
        .modal-body {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

#create_contact_submit:disabled {
    cursor: not-allowed;
}

/*** 4. CREATE REQUEST ***/
#m_modal_create_request{
    .modal-header{
        min-height: 70px;
    }
    .modal-dialog{
        width: 95%;
        
        .modal-body{
            padding: 0px 18px 25px 18px;
            
            .form_sub-title{
                color: #3f4047;
                font-weight: 500;
                font-size: 1.2rem;
            }
            .children-age{
                .generated_inputs_block{
                    padding-right: 10px;
                    padding-left: 10px;
                    
                    .child-age-col{
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                }
            }
        }
        
        @media (min-width: 576px){
            &{
                width: 80%;
                max-width: 800px;
                
                .modal-body{
                    padding: 0px 25px 25px 25px;
                }
            }
        }
    }

    button.btn-primary:disabled {
        cursor: not-allowed;
    }

    .m-demo {
        background: #f7f7fa;
        border-radius: 0.3rem;
        margin-top: 25px;
        margin-bottom: 0;

        .m-demo__preview {
            background: white;
            border: 2px solid #f7f7fa;
            padding: 3px 20px;
            border-radius: 0.3rem;
        }
    }

    .m-widget4 {
        .m-widget4__item {
            .m-widget4__img.m-widget4__img--pic img {
                width: 5rem;
                border-radius: 50%;
            }
        }
    }
}

/*** 5. HEADER REQUEST ***/
#m_modal_header_requests{
    .modal-header{
        min-height: 70px;
    }
    .modal-dialog{
        width: 95%;
        
        .modal-body{
            padding: 20px 18px 25px 18px;
            
            .request-items-col{
                > .inner{
                    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
                }
                .request-item{
                    padding: 0.75rem 1rem;
                    border-bottom: 1px solid #eee;
                    
                    &:hover,
                    &.active{
                        background: #f7f7f7;
                        cursor: pointer;
                        
                        .main-info{
                            .name{
                                color: #5f57c3;
                            }
                        }
                    }
                    
                    .main-info{
                        margin: 0 0 7px 0;
                        
                        .avatar{
                            display: inline-block;
                            vertical-align: middle;
                            margin: 0 7px 0 0;
                            
                            img{
                                width: 35px;
                                height: auto;
                                max-height: 35px;
                                border-radius: 50%;
                            }
                        }
                        .name{
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #3f4047;
                        }
                    }
                    .contacts{
                        margin: 0 0 3px 0;
                        
                        .contact-row{
                            margin: 0 0 2px 0;
                            
                            &:last-child{
                                margin: 0;
                            }
                            
                            i{
                                margin: 0 5px 0 0;
                                color: #3f4047;
                            }
                        }
                    }
                    .stats{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            #header-request-services-list-partlet{
                .m-portlet__body{
                    .header-request-services-list-block{
                        .service-item{
                            border-bottom: 1px solid #ebedf2;
                            margin-bottom: 1.5rem;

                            &:last-child{
                                border-bottom: 0;
                                margin-bottom: 0;
                            }

                            .row-1{
                                display: flex;

                                .title{
                                    flex-grow: 1;
                                }
                                .actions{
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    flex-grow: 1;

                                    .buttons{
                                        i{
                                            font-size: 1.6rem;
                                            cursor: pointer;

                                            &:hover{
                                                color: #5f57c3;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            .row-3{
                                display: flex;

                                .supplier{
                                    display: flex;
                                    flex-wrap: nowrap;
                                    align-items: center;

                                    .logo{
                                        img{
                                            width: auto;
                                            height: auto;
                                            max-width: 45px;
                                            max-height: 30px;
                                        }
                                    }
                                    .title{

                                    }
                                }
                                .icons{
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;

                                    i{
                                        font-size: 1.6rem;
                                    }
                                }
                            }
                        }
                    }
                }
                #add_header_commercial_proposal_btn{
                    display: none;
                }
            }
        }
        
        @media (min-width: 576px){
            &{
                width: 1300px;
                max-width: 90%;
                
                .modal-body{
                    padding: 20px 25px 25px 25px;
                }
            }
        }
    }

    button.btn-primary:disabled {
        cursor: not-allowed;
    }
}

/*** 6. HEADER REQUEST SERVICE EDIT ***/
#m_header_modal_service_details{
    .additional-service-item{
        display: flex;
        justify-content: center;
        
        .checkbox-block{
            display: flex;
            align-items: center;
        }
        .info-block{
            display: flex;
            flex-wrap: wrap;
            
            .icon-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                display: flex;
                height: 45px;
                margin: 0 0 6px 0;
                justify-content: center;
                align-items: center;
                
                i{
                   font-size: 2.3rem;
                   color: #716aca;
                   font-weight: 400; 
                }
            }
            .text-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                text-align: center;
                
                span{
                    font-size: 1.2rem;
                    display: block;
                    color: #716aca;
                }
            }
        }
    }
    .one-line-label{
        display: block;
        
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        
        label.one-line{
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-height: 1.2em;
            max-height: 1.2em;
        }
    }
}

/*** 7. SELECT SERVICE ***/
#m_modal_select_service,
#m_header_modal_select_service{
    .services-set{
        text-align: center;

        .service-link{
            .icon-wraper{
                display: flex;
                height: 45px;
                margin: 0 0 6px 0;
                justify-content: center;
                align-items: center;

                i{
                    font-size: 2.3rem;
                }
            }
            span{
                font-size: 1.2rem;
                line-height: 1.2em;
                display: block;
            }
        }
    }
}

/*** 8. SELECT COMMERTIAL PROPOSAL METHOD ***/
#change_cp_method_modal,
#header_change_cp_method_modal{
    .change-methods-wrap{
        max-width: 700px;
        display: block;
        margin: 0 auto;
        
        .cm-item{
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            border-top: 1px solid #eee;
            border-bottom: 0;
            cursor: pointer;
            opacity: 0.8;
            
            &:last-child{
                border-bottom: 1px solid #eee;
            }
            
            &:hover{
                opacity: 1;
                background: #fafafa;
                transition: all 0.2s ease-out;
            }
            
            @media(min-width: 576px){
                &{
                    border-right: 0;
                    border-bottom: 1px solid #eee;
                }
                &:last-child{
                    border-right: 1px solid #eee;
                }
            }
            
            .inner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 140px;
                
                @media (min-width: 992px){
                    &{
                        min-height: 200px;
                    }
                }
                
                .icon-wrap{
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    i{
                        font-size: 3rem;
                        color: #616161;
                    }
                }
                .text-wrap{
                    text-align: center;
                    
                    > span{
                        font-size: 1rem;
                        
                        @media(min-width: 992px){
                            &{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*** 9. CREATE CP VIA SMS ***/
#header_cp_method_sms_modal{
    #header_cp_for_who_input{
        display: none;
    }
    #header-sms-counter{
        color: #575962;
        font-size: 1rem;
        font-weight: 400;
        cursor: default;

        .sms-info-item{
            display: inline-block;
        }

        i{
            vertical-align: text-bottom;
        }
    }
}

/*** 10. CREATE CP VIA EMAIL ***/
#header_cp_method_email_modal{
    .modal-dialog{
        @media (min-width: 576px){
            &{
                max-width: 96%;
            }
        }
        @media (min-width: 992px){
            &{
                max-width: 900px;
            }
        }
    }
    #header_cp_email_for_who_input{
        display: none;
    }
}

/*** 11. CREATE CP VIA LINK ***/
#header_cp_method_link_modal{
    #header_copy_bufer{
        opacity: 0;
        width: 1px;
        height: 1px;
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: -10000px;
    }
}

/*** 12. CREATE NEW HOTEL MODAL ***/
#m_modal_create_new_hotel{
    z-index: 1051;
    background: rgba(0, 0, 0, 0.2);
}

/*** 13. CREATE NEW CITY MODAL ***/
#m_modal_create_new_city{
    z-index: 1051;
    background: rgba(0, 0, 0, 0.2);
}