#users_data_table{
    
}
#create_user_popup{
    .modal-body{
        .modal-content-block-title{
            color: #3f4047;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
#edit_user_popup{
    .modal-body{
        .modal-content-block-title{
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
#delete_user_popup{
    .m-widget4.customize_1{
        .m-widget4__item{
            width: 100%;
            
            .m-widget4__img{
                width: 35%;
                text-align: right;
            }
            .m-widget4__info{
                width: 75%;
            }
            .m-widget4__img.m-widget4__img--pic{
                img{
                    width: 6rem;
                    display: inline-block;
                }
            }
        }
    }
    h6{
        color: #575962;
    }
}

.form-control-feedback {
    color: red;
}