#companies-datatable-partlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_companies_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
}
#companies_data_table{
    .company_contacts{
        .phone{
            .inner{
                white-space: nowrap;
            }
        }
        .email{
            .inner{
                white-space: nowrap;
            }
        }
        .la{
            vertical-align: middle;
            margin: 0 7px 0 0;
        }
    }
    .m-portlet__body{
        .m-datatable__row{
            .m-datatable__cell{
                .contact-row{
                    white-space: nowrap;
                    //overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}