#company-detail-view{
    .company-preview{
        .contact-avatar{
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px 0 0;
            
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .contacts-table{
            display: block;
            margin: 0 0 1rem 0;
            
            tbody{
                display: block;

                tr{
                    display: block;
                    white-space: nowrap;
                }
                
                td.icon{
                    display: inline-block;
                    text-align: center;
                    padding: 0 5px 0 0;
                }
                td.link{
                    padding: 0 0 0 0;
                    display: inline-block;
                    max-width: calc(100% - 25px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .contacts-table.no-contacts{
            width: 100%;
            tr{
                td{
                    text-align: center;
                    padding: 0 0 7px 0;
                    
                    .m-widget1__desc{
                        cursor: default;
                    }
                    .m-link{
                        cursor: pointer;
                    }
                }
            }
        }
        a.m-badge{
            margin: 0 0 5px 0;
        }
        a.m-badge.add-contact-button{
            outline: none;
            text-decoration: none;
            margin: 0;
        }
        span.m-widget1__desc{
            color: #9699a2;
        }
    }
    .company-info-table-block{
        table{
            width: 100%;
            
            .etitable-form-dropdown{
                // Mobile mode update
                @media (max-width: 575px){
                    &{
                        .m-dropdown__wrapper{
                            width: 250px;
                            margin-left: -180px;
                            
                            .m-dropdown__arrow{
                                left: 73%;
                            }
                        }
                    }
                }
            }
            
            .no-data{
                opacity: 0.5;
            }
        }
    }
    .company-attached-contacts-info{
        i.remove-icon{
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
    .history_and_notes_partlet{
        .m-portlet__head{
            padding-top: 0;
            padding-bottom: 0;
    
            .m-portlet__head-tools{
                display: block;
                height: 100%;
                margin-top: 0;
                
                ul.nav-tabs{
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    padding-top: 10px;
                    
                    li.nav-item{
                        margin-left: 10px;
                        margin-right: 10px;
                        
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        
                        a.nav-link{
                            padding: .5rem 0 .8rem 0;
                            
                            i{
                                font-size: 1.6rem;
                                margin: 0 2px;
                            }
                            span{
                                display: none;
                            }
                        }
                    }
                    
                    @media(min-width: 430px){
                        &{
                            li.nav-item{
                                a.nav-link{
                                    padding: .5rem 0 1rem 0;
                                    
                                    i{
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 540px){
                        &{
                            li.nav-item{
                                margin-left: 15px;
                                margin-right: 15px;
                        
                                a.nav-link{
                                    i{
                                        font-size: 2.3rem;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 650px){
                        &{
                            li.nav-item{
                                a.nav-link{
                                    text-align: center;
                                    padding: 0;
                                    
                                    span{
                                        display: block;
                                        padding: 8px 0 3px 0;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 1500px){
                        &{
                            li.nav-item{
                                margin-left: 20px;
                                margin-right: 20px;
                                
                                a.nav-link{
                                    white-space: nowrap;
                                    padding: .9rem 0 0 0;
                                    
                                    span{
                                        display: inline-block;
                                        padding: 0 0 0 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .m-portlet__body{
            padding: 3.2rem 2.1rem;
            
            .tab-content{
                .tab-pane{
                    &#history_tab_activity{
                        
                    }
                    &#history_tab_notes{

                    }
                    &#history_tab_email{

                    }
                    &#history_tab_calls{

                    }
                    &#history_tab_chat{

                    }
                }
                .filters-dropdown{
                    .m-dropdown__wrapper{
                        width: 270px;
                        
                        @media(min-width: 450px){
                            width: 380px;
                        }
                        @media(min-width: 520px){
                            width: 460px;
                        }
                    }
                    .m-dropdown__content{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        
                        .filters-dropdown-section{
                            margin: 0 30px 15px 5px;
                        }
                    }
                }
            }
        }
    }
    .company-settings{
        .company-refresh-dates-block{
            table{
                width: 100%;
                
                tr{
                    td{
                        text-align: left;
                        
                        &:nth-child(2){
                            text-align: right;
                        }
                    }
                }
            }
        }
        .company-delete-block{
            button[type="submit"]{
                width: 100%;
                
                > span {
                    margin: 0 auto;
                }
            }
        }
    }
}
#company-edit-popup{
    .modal-dialog{
        @media (min-width: 992px){
            &.modal-lg {
                max-width: 930px;
            }
        }
    }
    .modal-content{
        overflow: hidden;
        
        .modal-body{
            padding: 0;
            
            .m-link{
                cursor: pointer;
            }
            .repeater-list{
                &.hide-first-one{
                    .row:nth-child(1){
                        display: none;
                    }
                }
                .intl-tel-input {
                    width: 240px;
                }
                .country-list {
                    z-index: 999;
                }
            }
            .input-group {
                flex-wrap: nowrap;
            }
        }
    }
    h1,h2,h3,h4,h5,h6{
        color:#575962;
    }
}
#timeline-task-create-block{
    background: #f9f9f9;
    margin-top: -1.8rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}