#m_wizard{
    .m-form{
        .m-form__section{
            font-size: 1rem;
            font-weight: normal;
        }
    }
    .m-wizard__head{
        .m-wizard__nav{
            .m-wizard__steps{
                .m-wizard__step{
                    .m-wizard__step-info{
                        .m-wizard__step-line{
                            >span{
                                width: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .m-wizard__form-step{
        .m-form__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .head-tools-list{
                list-style: none;
                padding: 0;
                margin: 0;
                
                li{
                    display: inline-block;
                    
                    .help_icon{
                        color: #afb0c7;
                        cursor: pointer;
                        font-size: 1.8rem;
                        transition: color 0.2s ease-out;

                        &:hover{
                            color: #2739c1;
                        }
                    }
                }
            }
        }
        .edit_button{
            color:#fff;background-color:#716aca;border-color:#716aca}
        .edit_button:hover{
            color:#fff;background-color:#564ec0;border-color:#4d44bd}
        .edit_button:focus{color:#fff;background-color:#4d44bd;border-color:#4940b4}
        .intl-tel-input:first-child {
            width: calc(100% - 45px);
        }
    }
}
.m-wizard[data-current-step="1"] [data-wizard-action="submit"]{
    display: inline-block;
}
.m-wizard[data-current-step="2"] [data-wizard-action="submit"]{
    display: inline-block;
}
.m-wizard[data-current-step="3"] .wizard-submit-block{
    display: none;
}
.m-wizard[data-current-step="4"] [data-wizard-action="submit"]{
    display: inline-block;
}

.tpadding {
    padding-top: 0.65rem;
}

.separator{
    width: calc(100% + 60px);
    border-bottom: 1px dashed #d3d0dc;
    margin: 1rem -30px;
}