#import-type-change{
    > .inner{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media(min-width: 576px){
            &{
                flex-wrap: nowrap;
            }
        }
        
        .change-item{
            flex-basis: calc(50% - 12px);
            border: 1px solid #ebedf2;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            
            &:hover,
            &.selected{
                border: 1px solid #34bfa3;
                
                .icon{
                    i{
                        color: #34bfa3;
                        transition: color 0.2s ease-in-out;
                    }
                }
                .title{
                    h6{
                        color: #34bfa3;
                        transition: color 0.2s ease-in-out;
                    }
                }
            }
            
            
            @media(min-width: 576px){
                &{
                    flex-basis: calc(25% - 12px);
                }
            }
            
            > .inner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: .7rem;
                
                .icon{
                    padding: 1rem 0;
                    
                    i{
                        font-size: 3rem;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .title{
                    text-align: center;
                    margin-bottom: .7rem;
                    
                    h6{
                        font-size: 1.2rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.import-type-change-input-wrap{
    text-align: center;
    
    .form-control-feedback{
        font-size: 1.2rem;
        margin-bottom: 1.3rem;
    }
}
#import_form{
    #import_wizard_form_step_2{
        .description-block{
            .icon{
                color: #575962;
                text-align: center;
                
                i{
                    font-size: 3.5rem;
                }
            }
            .text{
                h5{
                    color: #575962;
                }
                p{
                    font-size: 1rem;
                    color: #79797d;
                }
            }
            @media(min-width: 576px){
                .icon{
                    text-align: right;
                }
            }
        }
    }
    #import_wizard_form_step_3{
        .hint{
            font-size: 0.9rem;
            color: #9a9a9a;
        }
    }
}
#prop_with_matches_table{
    thead{
        .heading_checkbox_cell{
            .m-checkbox{
                margin-bottom: 14px;
                
                > span{
                    background: #FFF;
                    border: 1px solid #969696;
                }
            }
        }
    }
}
#prop_without_matches_table{
    thead{
        .heading_checkbox_cell{
            .m-checkbox{
                margin-bottom: 14px;
                
                > span{
                    background: #FFF;
                    border: 1px solid #969696;
                }
            }
        }
    }
}