#import_index_portlet{
    .m-portlet__head{
        .m-portlet__head-caption{
            .m-portlet__head-title{
                .m-portlet__head-icon{
                    i{
                        color: #575962;
                    }
                }
            }
        }
    }
}
#import-faq{
    > .inner{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
        .faq-block{
            flex-basis: calc(33.3% - 12px);
            border: 1px solid #ebedf2;
            
            > .inner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: .7rem;
                
                .icon{
                    padding: 1.5rem 0 1rem 0;
                    
                    i{
                        font-size: 3rem;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .title{
                    text-align: center;
                    margin-bottom: .7rem;
                    
                    h6{
                        font-size: 1.2rem;
                        margin-bottom: 0;
                    }
                }
                .description{
                    text-align: center;
                    line-height: 1.3rem;
                    font-size: 1rem;
                }
                .link{
                    display: flex;
                    text-align: center;
                    flex-grow: 1;
                    padding: .7rem 0;
                    align-items: flex-end;
                    justify-content: center;
                }
            }
        }
    }
}
#import-filter{
    > .inner{
        .filters-list{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: nowrap;
            border-bottom: 1px solid #ebedf2;
            
            .filter-item{
                position: relative;
                padding: .7rem 1.5rem;
                cursor: pointer;
                
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    opacity: 0;
                    visibility: none;
                    width: 100%;
                    height: 5px;
                    left: 0;
                    bottom: -3px;
                    background: #575962;
                    border-radius: 3px;
                    transition: all 0.3s ease-in;
                }
                
                &.active:after{
                    opacity: 1;
                    visibility: visible;
                }
                
                &:hover{
                    > span{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}