#import_view_portlet{
    
}
#import-details-datatable{
    .m-datatable__table{
        .m-datatable__body{
            min-height: 440px;
            
            tr{
                td{
                    .etitable-form-dropdown{
                        .m-dropdown__toggle{
                            cursor: pointer;
                        }
                        @media (max-width: 575px){
                            &{
                                .m-dropdown__wrapper{
                                    width: 250px;
                                }
                            }
                        }
                    }
                    &:not(:first-child):not(:last-child){
                        @media (max-width: 575px){
                            &{
                                .etitable-form-dropdown{
                                    .m-dropdown__wrapper{
                                        left: calc(-125px + 50%);
                                        
                                        .m-dropdown__arrow{
                                            left: calc(50% - 20px)!important;
                                            right: auto!important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}