#integtations_list_portlet{
    .m-portlet__body{
        .tab-pane{
            .integration-desc-text{
                
            }
        }
        .integrations-content{
            padding: 15px 0 0 0;
            
            .items-wrap{
                display: flex;
                flex-wrap: wrap;
                max-width: 1700px;
                margin: 0 auto;
                justify-content: flex-start;
                
                .integration-item{
                    width: 100%;
                    flex-grow: 1;
                    flex-shrink: 1;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #ebedf2;
                    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
                    margin: 0 0 20px 0;
                    
                    .logo-block{
                        padding: 2rem 1.5rem 1.5rem 1.5rem;
                        height: auto;
                        
                        .logo-inner{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 5rem;
                            
                            img{
                                width: auto;
                                height: auto;
                                max-width: 75%;
                                max-height: 100%;
                            }
                        }
                    }
                    .description-block{
                        padding: 0 1.5rem 1.5rem 1.5rem;
                        flex-grow: 1;
                    }
                    .links-block{
                        font-size: 1.1rem;
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity 0.1s ease-out;
                        
                        .m-link{
                            width: 100%;
                            background: #716aca;
                            padding: 1rem 1.5rem;
                            color: #FFF;
                            
                            &:hover:after{
                                border-bottom: none;
                            }
                        }
                    }
                    &:hover{
                        .links-block{
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                        }
                    }
                }
                @media(min-width: 750px){
                    &{
                        .integration-item{
                            width: calc(50% - 10px);
                            margin-right: 20px;
                            flex-grow: 0;
                            
                            &:nth-child(2n){
                                margin-right: 0;
                            }
                        }
                    }
                }
                @media(min-width: 1150px){
                    &{
                        .integration-item{
                            width: calc(33.3% - 12px);
                            margin-right: 18px;
                            
                            &:nth-child(2n){
                                margin-right: 18px;
                            }
                            
                            &:nth-child(3n){
                                margin-right: 0;
                            }
                        }
                    }
                }
                @media(min-width: 1500px){
                    &{
                        .integration-item{
                            width: calc(25% - 15px);
                            margin-right: 20px;
                            
                            &:nth-child(2n),
                            &:nth-child(3n){
                                margin-right: 20px;
                            }
                            
                            &:nth-child(4n){
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
#integration_details_modal{
    .modal-body{
        .description{
            text-align: justify;
            margin-bottom: 0;
            
            .logo{
                float: right;
                max-width: 60%;
                max-height: 150px;
                margin: 0 0 10px 15px;
            }
        }
        .features{
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            
            .feature-item{
                
            }
        }
        #provider-credentials-repeater{
            .double-inputs-customize{
                .input-group-prepend{
                    > input.form-control{
                        position: relative;
                        z-index: 1;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    width: 50%;
                }
            }
            .m-link{
                cursor: pointer;
            }
        }
        hr{
            width: calc(100% + 50px);
            border-top: 1px dashed rgba(0,0,0,.1);
            margin-left: -25px;
            margin-right: -25px;
        }
    }
}