#general-billing-portlet{
    .total-balance-block{
        .m-widget14__header{
            padding: 0 0 1.1rem 0;
        }
        .m-widget25{
            .m-widget25__price{
                display: inline-block;
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
    .replenish-account-block{
        .m-widget14__header{
            padding: 0 0 1.1rem 0;
        }
    }
    .chargeable-features-block{
        .m-widget14__header{
            padding: 0 0 1.1rem 0;
        }
    }
}
#my_orders_portlet{
    .m-widget11{
        .table{
            thead,
            tbody{
                > tr{
                    > *:nth-child(4),
                    > *:nth-child(5),
                    > *:nth-child(6){
                        text-align: center;
                    }
                }
            }
        }
    }
    .moment-js{
        cursor: default;
    }
}
#transactions_portlet{
    .m-portlet__body{
        .m-widget4__item{
            .m-widget4__info{
                .m-widget4__text{
                    display: block;
                }
                .moment-js{
                    color: #9699a2;
                    font-weight: 500;
                    font-size: 0.85rem;
                    cursor: default;
                }
            }
        }
    }
}
#pay_btn:disabled{
    cursor: not-allowed;
}
#modal_payment_card{
    padding-right: 0!important;
}
#modal_payment_bill{
    padding-right: 0!important;
}
#modal_payment_invoice{
    padding-right: 0!important;
}
#payment_providers{
    .item{
        border: 1px solid #eee;
        padding-bottom: 15px;
        cursor: pointer;
        overflow:hidden;
        transition: border-color 0.3s ease;
        
        &:hover{
            border-color: #716aca;
            
            .image-wrap{
                img{
                    transform: scale(1.05);
                }
            }
            .title{
                h6{
                    color: #716aca;
                }
            }
        }
        .image-wrap{
            padding: 10px;
            height: 200px;
            
            img{
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                transition: transform 0.3s ease;
            }
        }
        .title{
            h6{
                transition: color 0.3s ease;
                font-size: 1.3rem;
            }
        }
    }
}