#requests_datatable_portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_requests_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
}
#requests_data_table{
    .status-item{
        i{
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
    }
}