// Steps navigation
/*.m-wizard.m-wizard--1{
    padding: 0.1rem 0 0 0;
    
    .m-wizard__head{
        .m-wizard__nav{
            .m-wizard__steps{
                .m-wizard__step{
                    .m-wizard__step-info{
                        .right-part{
                            display: none;
                        }
                    }
                    .m-wizard__step-line{
                        >span{
                            width: 1rem;
                        }
                    }
                }
            }
            
            @media (min-width: 1201px){
                &{
                    margin-right: -35px;
                    
                    .m-wizard__steps{
                        .m-wizard__step{
                            vertical-align: top;
                            
                            .m-wizard__step-info{
                                display: flex;
                                flex-wrap: nowrap;
                                
                                .left-part{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    
                                    .m-wizard__step-number{
                                        margin: 0 0 1rem 0;
                                    }
                                    .m-wizard__step-label{
                                        flex-basis: 100%;
                                        flex-shrink: 0;
                                        text-align: center;
                                    }
                                    .m-wizard__step-line{
                                        display: none;
                                    }
                                }
                                .right-part{
                                    display: flex;
                                    flex-wrap: nowrap;
                                    flex-grow: 1;
                                    justify-content: center;
                                    
                                    .m-wizard__step-line{
                                        margin: calc(2rem - 2px) 0 0 0;
                                    }
                                }
                            }
                            &:last-child{
                                .right-part{
                                    .m-wizard__step-line{
                                        visibility: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}*/

// Navigating tabs
#navigation-tabs-portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .m-tabs-line.m-tabs-line--2x{
                bottom: 0;
            }
        }
    }
}

// Tabbed content blobk
#tabs-content-set{
    .content-item{
        display: none;
        
        &.show{
            display: block;
        }
    }
}

// Step 1 => Tab 1
.request-settings {
    .request-refresh-dates-block {
        table {
            width: 100%;

            tr {
                td {
                    text-align: left;

                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
}
#request-detail-view
    .request-settings
        .request-delete-block button[type=submit] {
            width:100%;
        }
#request-detail-view
    .m-table
        .div_help, .input-group {
    margin-bottom: 8px;
}
#request-detail-view
    .m-table
        .reason_div_help {
    font-weight: 600;
}
#request-detail-view
    .request-settings
        .request-delete-block button[type=submit]>span {
            margin:0 auto;
}
#request-detail-view{
    .contact-preview{
        .contact-avatar{
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px 0 0;
            
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .contacts-table{
            display: block;
            margin: 0 0 1rem 0;
            
            tbody{
                display: block;

                tr{
                    display: block;
                    white-space: nowrap;
                }
                
                td.icon{
                    display: inline-block;
                    text-align: center;
                    padding: 0 5px 0 0;
                }
                td.link{
                    padding: 0 0 0 0;
                    display: inline-block;
                    max-width: calc(100% - 25px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .contacts-table.no-contacts{
            width: 100%;
            tr{
                td{
                    text-align: center;
                    padding: 0 0 7px 0;
                    
                    .m-widget1__desc{
                        cursor: default;
                    }
                    .m-link{
                        cursor: pointer;
                    }
                }
            }
        }
        a.m-badge{
            margin: 0 0 5px 0;
        }
        a.m-badge.add-contact-button{
            outline: none;
            text-decoration: none;
            margin: 0;
        }
        span.m-widget1__desc{
            color: #9699a2;
        }
    }
}
#contact-edit-popup{
    .modal-dialog{
        @media (min-width: 992px){
            &.modal-lg {
                max-width: 930px;
            }
        }
    }
    .modal-content{
        overflow: hidden;
        
        .modal-body{
            padding: 0;
            
            .m-link{
                cursor: pointer;
            }
            .repeater-list{
                &.hide-first-one{
                    .row:nth-child(1){
                        display: none;
                    }
                }
                .intl-tel-input {
                    width: 240px;
                }
                .country-list {
                    z-index: 999;
                }
            }
            .input-group {
                flex-wrap: nowrap;
            }
        }
    }
}
h1,h2,h3,h4,h5,h6{
    color:#575962;
}

#m_modal_service_details{
    .additional-service-item{
        display: flex;
        justify-content: center;
        
        .checkbox-block{
            display: flex;
            align-items: center;
        }
        .info-block{
            display: flex;
            flex-wrap: wrap;
            
            .icon-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                display: flex;
                height: 45px;
                margin: 0 0 6px 0;
                justify-content: center;
                align-items: center;
                
                i{
                   font-size: 2.3rem;
                   color: #716aca;
                   font-weight: 400; 
                }
            }
            .text-wrap{
                flex-basis: 100%;
                flex-shrink: 0;
                text-align: center;
                
                span{
                    font-size: 1.2rem;
                    display: block;
                    color: #716aca;
                }
            }
        }
    }
    .one-line-label{
        display: block;
        
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        
        label.one-line{
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-height: 1.2em;
            max-height: 1.2em;
        }
    }
}
#aditional_services_accordion{
    .m-accordion__item{
        overflow: visible;
        
        .m-accordion__item-head{
            padding: 0.4rem 2rem;
            
            .m-accordion__item-icon{
                >i{
                    font-size: 1.8rem;
                }
            }
        }
        .m-accordion__item-body{
            .m-accordion__item-content{
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}
#request-services-list-partlet{
    .m-portlet__body{
        .request-services-list-block{
            .service-item{
                border-bottom: 1px solid #ebedf2;
                margin-bottom: 1.5rem;
                
                &:last-child{
                    border-bottom: 0;
                    margin-bottom: 0;
                }
                
                .row-1{
                    display: flex;
                    
                    .title{
                        flex-grow: 1;
                    }
                    .actions{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-wrap: nowrap;
                        flex-grow: 1;
                        
                        .buttons{
                            i{
                                font-size: 1.6rem;
                                cursor: pointer;
                                
                                &:hover{
                                    color: #5f57c3;
                                }
                            }
                        }
                    }
                }
                .row-2{
                    
                }
                .row-3{
                    display: flex;
                    
                    .supplier{
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        
                        .logo{
                            img{
                                width: auto;
                                height: auto;
                                max-width: 45px;
                                max-height: 30px;
                            }
                        }
                        .title{
                            
                        }
                    }
                    .icons{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        
                        i{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    #add_commercial_proposal_btn{
        display: none;
    }
}
#request-description-partlet.m-portlet--fullscreen{
    .m-portlet__body{
        .m-scrollable{
            height: 100vh!important;
            max-height: 100vh!important;
        }
    }
}
#request-description-partlet {
    #request_create__description_textarea {
        border-color: transparent;
        background-color: transparent;
    }
    #request_create__description_textarea:focus {
        border-color: #5f57c3;;
        color: #575962;
    }
}
#commercial-proposals-table{
    .m-link[data-toggle="m-popover"]{
        cursor: default;
    }
}
#cp_method_sms_modal{
    #cp_for_who_input{
        display: none;
    }
    #sms-counter{
        color: #575962;
        font-size: 1rem;
        font-weight: 400;
        cursor: default;

        .sms-info-item{
            display: inline-block;
        }

        i{
            vertical-align: text-bottom;
        }
    }
}
#cp_method_email_modal{
    .modal-dialog{
        @media (min-width: 576px){
            &{
                max-width: 96%;
            }
        }
        @media (min-width: 992px){
            &{
                max-width: 900px;
            }
        }
    }
    #cp_email_for_who_input{
        display: none;
    }
}
#cp_method_link_modal{
    #copy_bufer{
        opacity: 0;
        width: 1px;
        height: 1px;
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: -10000px;
    }
}