#reminders-index-portlet{
    .m-portlet__body{
        .reminders-index-portlet-content{
            display: none;
            
            &.active{
                display: block;
            }
            .table-wraper{
                overflow-x: auto;

                table.table{
                    > tbody{
                        > tr{
                            td, th{
                                vertical-align: middle;
                            }
                            > *:nth-child(2){
                                text-align: center;
                            }
                            > *:nth-child(3){
                                text-align: center;
                            }
                            > *:nth-child(4){
                                text-align: center;
                            }
                        }
                        > tr:nth-child(1){
                            > *{
                                padding: 2rem 0.75rem 0.75rem 0.75rem;
                            }
                        }
                        tr.all-dissabled{
                            a.m-link{
                                color: #CCC;

                                &:hover:after{
                                    border-bottom: 0;
                                }
                            }
                            .system-status-icon{
                                color: #CCC;
                            }
                        }
                        .m-link{
                            outline: none;
                        }
                    }
                    .system-status-icon{
                        vertical-align: middle;
                        color: #716aca;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
#edit_tourist_reminder_popup,
#edit_tourist_reminder_readonly_popup,
#edit_agent_reminder_popup,
#edit_agent_reminder_readonly_popup{
    .modal-header{
        h5.modal-title{
            width: 100%;
        }
    }
    .modal-body{
        .preloader{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background: #FFF;
            top: 0;
            left: 0;
            z-index: 2;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .editor_help_icon{
            color: #afb0c7;
            cursor: pointer;
            font-size: 1.8rem;
            transition: color 0.2s ease-out;
            
            &:hover{
                color: #2739c1;
            }
        }
        .trigger-constructor{
            .col{
                transition: all 0.5s ease-out;
            }
            &.no-days{
                .left-part{
                    flex: 0 0 75%;
                    max-width: 75%;
                }
                .right-part{
                    flex: 0 0 25%;
                    max-width: 25%;
                    
                    .days-cell{
                        padding: 0;
                        flex: 0 0 0;
                        max-width: 0;
                        overflow: hidden;
                        opacity: 0;
                    }
                    .time-cell{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            &.no-time{
                .left-part{
                    flex: 0 0 75%;
                    max-width: 75%;
                }
                .right-part{
                    flex: 0 0 25%;
                    max-width: 25%;
                    
                    .days-cell{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .time-cell{
                        padding: 0;
                        flex: 0 0 0;
                        max-width: 0;
                        overflow: hidden;
                        opacity: 0;
                    }
                }
            }
            &.no-days.no-time{
                .left-part{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .right-part{
                    padding: 0;
                    flex: 0 0 0;
                    max-width: 0;
                    overflow: hidden;
                    opacity: 0;
                    
                    .days-cell{
                        padding: 0;
                        flex: 0 0 0;
                        max-width: 0;
                        overflow: hidden;
                        opacity: 0;
                    }
                    .time-cell{
                        padding: 0;
                        flex: 0 0 0;
                        max-width: 0;
                        overflow: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
    
    @media(min-width: 1000px){
        &{
            .modal-dialog{
                width: 95%;
                max-width: 1050px;
            }
        }
    }
}
#edit_tourist_reminder_popup{
    .modal-dialog{
        @media (min-width: 576px){
            &{
                max-width: 96%;
            }
        }
        @media (min-width: 992px){
            &{
                max-width: 1400px;
            }
        }
    }
}

#edit_tourist_reminder_readonly_popup{
    .modal-dialog{
        @media (min-width: 576px){
            &{
                max-width: 96%;
            }
        }
        @media (min-width: 992px){
            &{
                max-width: 1400px;
            }
        }
    }
}