.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
}

@media (min-width: 1500px) {
    .col-xxl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xxl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xxl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xxl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xxl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xxl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xxl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xxl-first {
        order: -1;
    }
    .order-xxl-1 {
        order: 1;
    }
    .order-xxl-2 {
        order: 2;
    }
    .order-xxl-3 {
        order: 3;
    }
    .order-xxl-4 {
        order: 4;
    }
    .order-xxl-5 {
        order: 5;
    }
    .order-xxl-6 {
        order: 6;
    }
    .order-xxl-7 {
        order: 7;
    }
    .order-xxl-8 {
        order: 8;
    }
    .order-xxl-9 {
        order: 9;
    }
    .order-xxl-10 {
        order: 10;
    }
    .order-xxl-11 {
        order: 11;
    }
    .order-xxl-12 {
        order: 12;
    }
    .offset-xxl-0 {
        margin-left: 0;
    }
    .offset-xxl-1 {
        margin-left: 8.33333%;
    }
    .offset-xxl-2 {
        margin-left: 16.66667%;
    }
    .offset-xxl-3 {
        margin-left: 25%;
    }
    .offset-xxl-4 {
        margin-left: 33.33333%;
    }
    .offset-xxl-5 {
        margin-left: 41.66667%;
    }
    .offset-xxl-6 {
        margin-left: 50%;
    }
    .offset-xxl-7 {
        margin-left: 58.33333%;
    }
    .offset-xxl-8 {
        margin-left: 66.66667%;
    }
    .offset-xxl-9 {
        margin-left: 75%;
    }
    .offset-xxl-10 {
        margin-left: 83.33333%;
    }
    .offset-xxl-11 {
        margin-left: 91.66667%;
    }
    .m-xxl-0 {
        margin: 0!important
    }
    .mt-xxl-0,.my-xxl-0 {
        margin-top: 0!important
    }
    .mr-xxl-0,.mx-xxl-0 {
        margin-right: 0!important
    }
    .mb-xxl-0,.my-xxl-0 {
        margin-bottom: 0!important
    }
    .ml-xxl-0,.mx-xxl-0 {
        margin-left: 0!important
    }
    .m-xxl-1 {
        margin: .25rem!important
    }
    .mt-xxl-1,.my-xxl-1 {
        margin-top: .25rem!important
    }
    .mr-xxl-1,.mx-xxl-1 {
        margin-right: .25rem!important
    }
    .mb-xxl-1,.my-xxl-1 {
        margin-bottom: .25rem!important
    }
    .ml-xxl-1,.mx-xxl-1 {
        margin-left: .25rem!important
    }
    .m-xxl-2 {
        margin: .5rem!important
    }
    .mt-xxl-2,.my-xxl-2 {
        margin-top: .5rem!important
    }
    .mr-xxl-2,.mx-xxl-2 {
        margin-right: .5rem!important
    }
    .mb-xxl-2,.my-xxl-2 {
        margin-bottom: .5rem!important
    }
    .ml-xxl-2,.mx-xxl-2 {
        margin-left: .5rem!important
    }
    .m-xxl-3 {
        margin: 1rem!important
    }
    .mt-xxl-3,.my-xxl-3 {
        margin-top: 1rem!important
    }
    .mr-xxl-3,.mx-xxl-3 {
        margin-right: 1rem!important
    }
    .mb-xxl-3,.my-xxl-3 {
        margin-bottom: 1rem!important
    }
    .ml-xxl-3,.mx-xxl-3 {
        margin-left: 1rem!important
    }
    .m-xxl-4 {
        margin: 1.5rem!important
    }
    .mt-xxl-4,.my-xxl-4 {
        margin-top: 1.5rem!important
    }
    .mr-xxl-4,.mx-xxl-4 {
        margin-right: 1.5rem!important
    }
    .mb-xxl-4,.my-xxl-4 {
        margin-bottom: 1.5rem!important
    }
    .ml-xxl-4,.mx-xxl-4 {
        margin-left: 1.5rem!important
    }
    .m-xxl-5 {
        margin: 3rem!important
    }
    .mt-xxl-5,.my-xxl-5 {
        margin-top: 3rem!important
    }
    .mr-xxl-5,.mx-xxl-5 {
        margin-right: 3rem!important
    }
    .mb-xxl-5,.my-xxl-5 {
        margin-bottom: 3rem!important
    }
    .ml-xxl-5,.mx-xxl-5 {
        margin-left: 3rem!important
    }
}
