.select2-container--default{
    .select2-selection--multiple{
        .select2-selection__rendered{
            li{
                width: auto!important;
            }
            
            .select2-search__field[role="textbox"]{
                width: 350px!important;
            }
        }
    }
    .select2-selection--single{
        .select2-selection__rendered{
            padding: .65rem 45px .65rem 1rem;
            
            .select2-selection__clear{
                margin-top: 0;
                transform: translateY(-50%);
            }
        }
    }
}
.select2-container--default{
    .select2-selection--single{
        .select2-selection__placeholder{
            color: #9699a2;
            font-weight: 400;
        }
    }
}
.select2-container--default{
    .select2-selection--single{
        .select2-selection__rendered{
            font-weight: 400;
        }
    }
}