table.iterios-customize{
    thead{
        tr{
            th:nth-child(1){
                color: #34bfa3;
                text-transform: uppercase;
            }
        }
    }
    tbody{
        td{
            width: 21%;
            
            label.m-radio{
                display: block;
                margin: 0 0 4px 0;
            }
        }
        td:nth-child(1){
            width: 16%;
        }
        td.not-available-cell{
            vertical-align: middle;
            
            .not-available-message{
                color: #afafaf;
            }
        }
        td.permission_title_cell{
            line-height: 0.9rem;
            
            .permission_name{
                display: block;
                
                &.has_modules_description{
                    margin: 0 0 1rem 0;
                }
            }
            .module-text{
                cursor: default;
                font-size: 0.8rem;
                font-style: italic;
                color: #909090;
            }
        }
    }
}