#segments_datatable_portlet{
    .m-portlet__head{
        .m-portlet__head-tools{
            .head_tools_left{
                float: left;
                height: 100%;
                padding: .3rem 1rem 0 0;
                
                #bulk_segments_buttons{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
    #segments_datatable{
        .integrations-table{
            td{
                padding: 2px 0;
            }
            .logo-cell{
                .logo{
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center center;
                }
            }
            .status-cell{
                padding-left: 8px;
                
                i{
                    vertical-align: middle;
                    font-size: 1.7rem;
                    
                    &.enabled{
                        color: #34bfa3;
                    }
                    &.disabled{
                        color: #f22d4e;
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .system-status-icon{
            vertical-align: middle;
            color: #716aca;
            font-size: 1.5rem;
        }
    }
}
#segment_contacts_modal{
    padding-right: 0!important;
    padding-left: 0!important;
    
    @media (min-width: 576px){
        &{
            padding-right: 15px!important;
            padding-left: 15px!important;
        }
    }
    
    .modal-dialog{
        @media (min-width: 576px){
            & {
                max-width: 1100px;
                margin: 1.75rem auto;
            }
        }
    }
}
#segments_contacts_datatable{
    
}