#tags-table-popup{
    
    @media (min-width: 576px) and (max-width: 992px){
        & > .modal-dialog{
            width: 95%;
            max-width: 800px;
        }
    }
    .modal-content{
        .modal-header{}
        .modal-body{}
        .modal-footer{}
    }
}
#m_modal_contacts_bulk_actions{
    .modal-body{
        .bulk-actions-templates{
            display: none;
        }
    }
}
#contacts-datatable{
    .m-portlet__head{
        .m-portlet__head-tools{
            padding: 0.5rem 0;
            
            .tools{
                display: flex;
                align-content: center;
                
                .tools__left_section{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    flex-grow: 1;
                    flex-shrink: 1;
                    
                    &.space_between_items{
                        @media(min-width: 660px){
                            justify-content: space-between;
                        }
                    }
                }
                .tools__right_section{
                    display: flex;
                    align-items: center;
                    flex-basis: 50px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0 0 0 20px;
                }
            }
            #selection-row{
                display: none;
            }
        }
    }
    .m-portlet__body{
        #contacts_t{
            .m-datatable__row{
                .m-datatable__cell{
                    .contact-row{
                        white-space: nowrap;
                        //overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
#contacts_settings_modal{
    .modal-body{
        .custom-m-scrollable{
            .scrollable-content{
                > .m-form__group{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
#contacts_t{
    .m-datatable__row{
        .full_name-wraper{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;

            .content-data-block{
                min-width: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .preview-link-block{
                width: 0;
                opacity: 0;
            }
        }
        &:hover{
            .full_name-wraper{
                .preview-link-block{
                    width: auto;
                    opacity: 1;
                    transition: all 0.2s ease-in;
                }
            }
        }
    }
}
#contact_quick_edit_modal{
    .modal-header{
        min-height: 70px;
    }
    .modal-dialog{
        width: 95%;
        
        .modal-body{
            padding: 20px 0;
        }
        
        @media (min-width: 576px){
            &{
                width: 600px;
                max-width: 90%;
                
                .modal-body{
                    padding: 20px 0;
                }
            }
        }
    }
}
#contacts_merge_modal{
    .modal-header{
        padding: 25px 50px 25px 25px;
        align-items: center;
        position: relative;
        
        .tools{
            #merge-all-link{
                text-transform: uppercase;
                margin-left: 0.7rem;
            }
        }
        button.close{
            margin: 0;
            position: absolute;
            top: 25px;
            right: 0;
        }
    }
    .modal-body{
        .merge-items{
            .merge-item{
                margin-bottom: 1.2rem;
                padding: 20px 25px;
                border: 1px solid #eee;
                box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
                
                &:last-child{
                    margin-bottom: 0;
                }
                .contact-items{
                    margin-bottom: 1rem;
                    
                    .contact-item{
                        display: flex;
                        flex-wrap: nowrap;
                        margin-bottom: 1rem;
                        
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .avatar{
                            position: relative;
                            width: 50px;
                            height: 50px;
                            flex-shrink: 0.2;

                            img{
                                position: absolute;
                                width: 100%;
                                height: auto;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                        .data{
                            padding: 0 0 0 10px;
                            
                            .name{
                                font-weight: 400;
                            }
                        }
                    }
                }
                .actions{
                    .m-link{
                        text-transform: uppercase;
                        margin-left: 0.7rem;
                        
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}