#contact-detail-view{
    .contact-preview{
        .m-portlet__head{
            height: auto;
            padding: 1rem 2.2rem;
        }
        .contact-avatar{
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px 0 0;
            
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .contacts-table{
            display: block;
            margin: 0 0 1rem 0;
            
            tbody{
                display: block;

                tr{
                    display: block;
                    white-space: nowrap;
                }
                
                td.icon{
                    display: inline-block;
                    text-align: center;
                    padding: 0 5px 0 0;
                }
                td.link{
                    padding: 0 0 0 0;
                    display: inline-block;
                    max-width: calc(100% - 25px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .contacts-table.no-contacts{
            width: 100%;
            tr{
                td{
                    text-align: center;
                    padding: 0 0 7px 0;
                    
                    .m-widget1__desc{
                        cursor: default;
                    }
                    .m-link{
                        cursor: pointer;
                    }
                }
            }
        }
        a.m-badge{
            margin: 0 0 5px 0;
        }
        a.m-badge.add-contact-button{
            outline: none;
            text-decoration: none;
            margin: 0;
        }
        span.m-widget1__desc{
            color: #9699a2;
        }
    }
    .contact-settings{
        .contact-refresh-dates-block{
            table{
                width: 100%;
                
                tr{
                    td{
                        text-align: left;
                        
                        &:nth-child(2){
                            text-align: right;
                        }
                    }
                }
            }
        }
        .contact-delete-block{
            button[type="submit"]{
                width: 100%;
                
                > span {
                    margin: 0 auto;
                }
            }
        }
    }
    .contact-info-table-block{
        table{
            width: 100%;
            
            .etitable-form-dropdown{
                // Mobile mode update
                @media (max-width: 575px){
                    &{
                        .m-dropdown__wrapper{
                            width: 250px;
                            margin-left: -180px;
                            
                            .m-dropdown__arrow{
                                left: 73%;
                            }
                        }
                    }
                }
            }
            
            .no-data{
                opacity: 0.5;
            }
        }
    }
    .contact-statistic-block{
        .m-widget1__item{
            .stat-and-link-block{
                text-align: center;
                flex-grow: 0;
            }
        }
        .m-widget25{
            padding: 1.1rem 0 0 0;
            
            .m-widget25__price{
                font-size: 4rem;
                
                @media (max-width: 1024px){
                    &{
                        font-size: 2.5rem;
                    }
                }
            }
        }
        .m-widget1.customized{
            display: table;
            width: 100%;
            
            .m-widget1__item{
                display: table-row;
                
                .col{
                    display: table-cell;
                    padding: 1.1rem 0;
                    vertical-align: middle;
                    border-bottom: 0.07rem dashed #ebedf2;
                }
            }
        }
    }
    .contact-passports{
        table{
            margin-bottom: 0;
            
            thead{
                th{
                    text-align: left;
                    vertical-align: middle;
                }
                th.actions{
                    text-align: center;
                }
                br.special-br{
                    display: inherit;
                    
                    @media(min-width: 503px){display: none;}
                }
            }
            
            tbody{
                tr.danger{
                    th.name{
                        text-decoration: line-through;
                    }
                    td.serial{
                        text-decoration: line-through;
                    }
                    td.date{
                        color: #f31c1c;
                    }
                }
                tr.warning{
                    td.date{
                        color: #ffa412;
                    }
                }
                th{
                    vertical-align: middle;
                }
                td{
                    vertical-align: middle;
                    
                    i.notification-icon{
                        font-size: 1.6rem;
                        vertical-align: middle;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                    }
                }
                td.actions{
                    text-align: center;
                    
                    .m-dropdown .m-dropdown__wrapper{
                        max-width: 170px;
                        
                        ul.m-nav{
                            li.m-nav__item{
                                margin: 0 0 10px 0;
                                .m-nav__link-text{
                                    text-align: left;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .delete-passport_form,
            .edit-passport_form{
                button{
                    display: block;
                    -webkit-appearance: none;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
        .no-passports{
            text-align: center;
        }
    }
    .contact-visas{
        table{
            margin-bottom: 0;

            thead{
                th{
                    text-align: left;
                    vertical-align: middle;
                }
                th.actions{
                    text-align: center;
                }
                br.special-br{
                    display: inherit;
                    
                    @media(min-width: 503px){display: none;}
                }
            }
            
            tbody{
                td{
                    vertical-align: middle;
                }
                th{
                    vertical-align: middle;
                }
                tr{
                    &.has-desc{
                        .type{
                            span, button{
                                cursor: pointer;
                            }
                            button{
                                padding: 0;
                                background: none;
                                border: none;
                                outline: 0;
                                cursor: pointer;
                                text-decoration: underline;
                                box-shadow: none;
                                color: #575962;
                                font-weight: 500;
                            }
                        }
                    }
                    .type{
                        span{
                            cursor: default;
                            text-decoration: none;
                        }
                    }
                }
                tr.danger{
                    th.type{
                        span, button{
                            text-decoration: line-through;
                        }
                    }
                    td.country{
                        text-decoration: line-through;
                    }
                    td.date{
                        tr.end{
                            color: #f31c1c;
                        }
                    }
                }
                tr.warning{
                    td.date{
                        tr.end{
                            color: #ffa412;
                        }
                    }
                }
                td.date{
                    table{
                        td{
                            border: none;
                            padding: 0;
                        }
                    }
                    i.notification-icon{
                        font-size: 1.4rem;
                        vertical-align: middle;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                    }
                }
                td.actions{
                    text-align: center;
                    
                    .m-dropdown .m-dropdown__wrapper{
                        max-width: 170px;
                        
                        ul.m-nav{
                            li.m-nav__item{
                                margin: 0 0 10px 0;
                            }
                        }
                    }
                }
            }
            .delete-visa_form,
            .edit-visa_form{
                button{
                    display: block;
                    -webkit-appearance: none;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
        .no-visas{
            text-align: center;
        }
    }
    .history_and_notes_partlet{
        .m-portlet__head{
            padding-top: 0;
            padding-bottom: 0;
    
            .m-portlet__head-tools{
                display: block;
                height: 100%;
                margin-top: 0;
                
                ul.nav-tabs{
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    padding-top: 10px;
                    
                    li.nav-item{
                        margin-left: 10px;
                        margin-right: 10px;
                        
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        
                        a.nav-link{
                            padding: .5rem 0 .8rem 0;
                            
                            i{
                                font-size: 1.6rem;
                                margin: 0 2px;
                            }
                            span{
                                display: none;
                            }
                        }
                    }
                    
                    @media(min-width: 430px){
                        &{
                            li.nav-item{
                                a.nav-link{
                                    padding: .5rem 0 1rem 0;
                                    
                                    i{
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 540px){
                        &{
                            li.nav-item{
                                margin-left: 15px;
                                margin-right: 15px;
                        
                                a.nav-link{
                                    i{
                                        font-size: 2.3rem;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 650px){
                        &{
                            li.nav-item{
                                a.nav-link{
                                    text-align: center;
                                    padding: 0;
                                    
                                    span{
                                        display: block;
                                        padding: 8px 0 3px 0;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: 1500px){
                        &{
                            li.nav-item{
                                margin-left: 20px;
                                margin-right: 20px;
                                
                                a.nav-link{
                                    white-space: nowrap;
                                    padding: .9rem 0 .6rem 0;
                                    
                                    span{
                                        display: inline-block;
                                        padding: 0 0 0 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .m-portlet__body{
            padding: 3.2rem 2.1rem;
            
            .tab-content{
                .tab-pane{
                    &#history_tab_activity{
                        
                    }
                    &#history_tab_notes{

                    }
                    &#history_tab_email{

                    }
                    &#history_tab_calls{

                    }
                    &#history_tab_chat{

                    }
                }
                .filters-dropdown{
                    .m-dropdown__wrapper{
                        width: 270px;
                        
                        @media(min-width: 450px){
                            width: 380px;
                        }
                        @media(min-width: 520px){
                            width: 460px;
                        }
                    }
                    .m-dropdown__content{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        
                        .filters-dropdown-section{
                            margin: 0 30px 15px 5px;
                        }
                    }
                }
            }
        }
    }
}
#add-note-preload{
    height: 30px;
    text-align: center;
    
    .m-loader{
        width: 30px;
        height: 30px;
        display: inline-block;
    }
}
#contact-edit-popup{
    .modal-dialog{
        @media (min-width: 992px){
            &.modal-lg {
                max-width: 930px;
            }
        }
    }
    .modal-content{
        overflow: hidden;
        
        .modal-body{
            padding: 0;
            
            .m-link{
                cursor: pointer;
            }
            .repeater-list{
                &.hide-first-one{
                    .row:nth-child(1){
                        display: none;
                    }
                }
                .intl-tel-input {
                    width: 240px;
                }
                .country-list {
                    z-index: 999;
                }
            }
        }
    }
    h1,h2,h3,h4,h5,h6{
        color:#575962;
    }
}
#timeline-task-create-block{
    background: #f9f9f9;
    margin-top: -1.8rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#file_upload_view_modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                .modal-title{
                    width: 100%;
                    
                    .file_title_input{
                        border-color: transparent;
                        background-color: transparent;
                        font-size: 1.2rem;

                        &:focus{
                            border-color: #ebedf2;
                            background-color: #fff;
                        }
                    }
                }
            }
            .modal-body{
                #head-panel{
                    .panel-main-row{
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
        @media (min-width: 576px){
            & {
                width: 90%;
                max-width: 825px;
            }
        }
        @media (min-width: 992px){
            & {
                width: 90%;
                max-width: 1100px;
            }
        }
    }
}
#merge-block{
    .merge-block-inner{
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 15px;
        
        .contact-block{
            width: 100%;
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            padding: 25px 15px 25px 15px;
            border: 1px solid #ebedf2;
            
            .avatar-block{
                position: relative;
                width: 65px;
                height: 65px;
                margin: 0 auto 20px auto;
                
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    border-radius: 50%;
                }
            }
        }
        .arrow{
            flex-basis: 100%;
            flex-shrink: 0;
            flex-grow: 1;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 2rem;
                transform: rotate(90deg);
            }
        }
        .main-contact{
            .name{
                text-align: center;
                font-size: 1.3rem;
                font-weight: 500;
            }
            .email{
                text-align: center;
                flex-grow: 0;
            }
        }
        @media (min-width: 576px){
            &{
                flex-wrap: nowrap;
                
                .contact-block{
                    width: calc(50% - 30px);
                    flex-basis: 50%;
                    flex-shrink: 1;
                }
                .arrow{
                    flex-basis: 60px;
                    padding: 0;
                    
                    i{
                        transform: rotate(0);
                    }
                }
            }
        }
    }
    .merge-contacts-names{
        display: none;
        padding: 25px;
        margin-bottom: 15px;
        
        .names-content{
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .merge-rules{
        padding: 1rem;
        margin-bottom: 15px;
        
        > *:last-child{
            margin-bottom: 0;
        }
    }
}